<% if user.todos.empty? %>
  <p>You have no task yet... Add one below!</p>
<% else %>
  <ul>
    <% user.todos.each do |todo| %>
      <li>
        <%= simple_form_for todo, method: :patch, remote: true do |f| %>
          <%= f.check_box :done %>
          <%= f.submit %>
        <% end %>

        <p><%= todo.title %></p>
      </li>
    <% end %>
  </ul>
<% end %>

