<% if user.todos.empty? %>
  <p>You have no task yet... Add one below!</p>
<% else %>
  <ul>
    <% user.todos.each do |todo| %>
      <li class="d-flex align-items-baseline">
        <%= simple_form_for todo, method: :put, remote: true do |f| %>
          <%= f.check_box :done, data: { action: "change->update-todo#submit" } %>
        <% end %>

        <p>&nbsp;<%= todo.title %></p>
      </li>
    <% end %>
  </ul>
<% end %>

